<!DOCTYPE html>
<html>
  <head>
    <title>Skills | Uday</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <section class="section">
      <h2>Technical Skills</h2>

      <div class="card-container">
        <div class="card">
          <h3>Languages</h3>
          <p>JavaScript, Python, SQL</p>
        </div>

        <div class="card">
          <h3>Frontend</h3>
          <p>React.js, Next.js, HTML5, CSS3, Bootstrap, Tailwind</p>
        </div>

        <div class="card">
          <h3>Backend</h3>
          <p>Node.js, REST APIs</p>
        </div>

        <div class="card">
          <h3>Libraries</h3>
          <p>Numpy, Pandas, PyTorch, NLTK</p>
        </div>
      </div>
    </section>
  </body>
</html>
